<h1>Edit Your Question</h1>
<p><%= link_to "Delete this Question", @question, method: :delete, data: {confirm: "Are you sure?"} %></p>
<p><%= link_to "Back to Question", question_path(@question) %></p>

<%= render "form", question: @question %>
