<h1>Edit your answer</h1>
<h4>Question: <%= @question.title %></h4>
<p>Description: <%= @question.description %></p>


<%= render "form", question: @question, answer: @answer %>

<%= link_to "Back", question_path(@question) %>
